@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap');
* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    opacity: 0.7;
    padding-bottom: 1.5rem;
}

.wrapper {
    display: flex;
    max-width: 750px;
    margin: 3rem auto;
    border: 1.5px solid #888686;
}

.image {
    background: url(../Requirements-and-Resources/image/image.png) no-repeat center;
    background-size: cover;
    flex: 0 0 50%;
}

.form {
    flex: 0 0 50%;
    background-color: rgb(246, 247, 248);
    padding: 1rem 0.7rem;
}

.subTitle {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.subTitle p:first-child {
    background-color: rgb(239, 229, 98);
    padding: 0.3em 0.1em;
    text-align: center;
    flex: 0 0 50%;
}

.subTitle p:nth-child(2) {
    background-color: rgb(224, 224, 223);
    padding: 0.3em;
    text-align: center;
    flex: 0 0 50%;
}

.oval-inputs {
    padding: 0.3rem;
    border-radius: 3.5px;
    border: 1px solid #D9D9DA;
    font-style: italic;
}

label {
    display: block;
}

.first-row {
    width: 100%;
    display: flex;
    padding-bottom: 1.5rem;
}

select {
    width: 90%;
}

.gender {
    width: 50%;
}

.age {
    width: 50%;
}

.weight input[type="text"] {
    width: 100%;
}

.weight {
    padding-bottom: 1.5rem;
}

.height {
    padding-bottom: 1.5rem;
    justify-content: space-between;
}

.height input[type="text"] {
    width: 49%;
}

.button {
    background-color: #05A2D3;
    font-size: 22px;
    color: white;
    margin: 0 auto;
    width: 100%;
}