hr {
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
}

header p {
    width: 20%;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header nav {
    width: 80%;
}

header ul li {
    list-style: none;
    margin-left: 1rem;
}