html {
    box-sizing: inherit;
}

section {
    width: 250px;
    height: 240px;
    border: 5px dotted #21C07E;
    text-align: center;
    box-sizing: border-box;
}

p {
    box-sizing: inherit;
    display: block;
    width: 100%;
    border: 3px solid #0936CA;
    padding: 20px;

}