body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102)
}