@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
ul {
    display: inline-block;
    list-style: none;
}

ul>li {
    display: inline-block;
    list-style: none;
}

ul>li>a {
    background-color: #ddd;
    padding: 5px 7.5px;
    border-radius: 50%;
    color: #000;
}

.fa-facebook-square:hover {
    color: #07f;
}

.fa-twitter:hover {
    color: #09f;
}

.fa-google-plus:hover {
    color: #f20;
}

.fa-linkedin:hover {
    color: #09f;
}

.fa-instagram:hover {
    color: #09f;
}