@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

.click {
    border-style: dotted;
    background: green;
    color: white;
}

.email {
    border-style: dotted;
    background: orange;
    color: white;
}
